body{
    background-image:linear-gradient(to bottom,red 10%,blue 70%);
}
form{
    width:520px;
    height: 140%;
    background-color: rgba(255,255,255,0.5);
    border-radius:20px;
    margin-top:30px;
}
img{
    margin-top:2%;
    /* width:55%; */
    height: 33%;
    aspect-ratio: 1;
}
h1{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
input{
    border-radius: 90px;
    border-color:aqua;
    text-align:center;
    width:65%;
    height:8%;
    margin:8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
    font-weight: bold;
}
input::placeholder {
    color:black;
}
input:hover{
    background-color: rgb(232, 236, 240);
}
#name{
    width:30%;
}
#checkbox{
    width: 3%;
    height: 3%;
    
}

span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:justify;
}

button{
    border-radius:5px;
    border-color:green;
    background-color: crimson;
    color:white;
    width:20%;
    margin-top: 1.5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    font-weight: 600;
}
button:hover{
    background-color: blue;
}
button:active{
    background-color: cyan;
    color:black;
}

p{
    font-family:tahoma;
    color:lightgray;
}