body{
    background-image:linear-gradient(to bottom,red , blue 90%);
}
h1{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:400% ;
    font-weight: bolder;
}
img{
    height:25%;
}
h2{
    color:white;
    text-decoration: underline;
    font-family: Verdana;
}
hr{
    background-color: white;
}
#title , #description{
    resize:none;
    margin-bottom:3%;

    background-color:rgba(255,255,255,0.8);
    color:black;

    text-align:center;
    font-family:helvetica ;
    font-weight: bolder;;
    font-size:large;

    border-radius:18px;
    width:70%
}
#title{
    height:8%
}
#description{
    height: 16%;
}
button{
    background-color:rgb(255, 4, 4);
    color:white;

    border-radius:8px;
    border-color:rgb(0, 0, 0);

    width:40%;
    height:5%;

    font-family:verdana;
    font-weight: bolder;
    font-size:medium;
}
button:hover{
    background-color:rgba(204, 0, 0, 0.466);
}
button:active{
    background-color:black;
}