body{
    background-image:linear-gradient(to bottom,red,blue 80%);
}
img{
    height:15%;
}
h1{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:400%;
    font-weight: bolder;
    letter-spacing: 3px;
}
h2{
    color:white;
    text-decoration: underline;
    font-family: verdana;
}
hr{
    background-color: white;
}

#title , #link{
    width:50%;
    height:7%;
    border-radius:38px;
    background-color:rgba(255,255,255, 0.8);
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size:large;
    margin-bottom: 2%;

}
#description{
    width:70%;
    height:30%;
    border-radius:18px;
    background-color:rgba(255,255,255, 0.8);
    font-family: helvetica;
    font-size:larger;
    margin-bottom:3%;
    text-align:center;
    resize:none;
}

#request_submit{
    background-color: rgb(255, 0, 0);
    color:white;
    width:30%;
    height: 5%;
    margin-bottom:1.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:110%;
    border-radius: 18px;
}
#request_submit:hover {
    background-color: rgb(3, 3, 159);
}
#request_submit:active{
    background-color: rgb(255, 255, 255);
    color:black;
}